.sidebar{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    position: fixed;
    left: 0;
    top: 70px;
    padding: 0 10px 0 10px;
}
.sidebar__point, .sidebar__user{
    padding: 10px 0 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.sidebar__point:hover{
    cursor: pointer;
    background-color: #F0F2F5;
}
.sidebar__user{
    justify-content: space-evenly;
    border-bottom: 1px solid lightgrey;
}
.sidebar__user__text{
    margin-left: 10px;
    display: flex;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 1200px) {
    .sidebar__point, .sidebar__user{
        justify-content: space-evenly;
    }
    .sidebar__user__text {
        display: none;
        margin: 0;
    }
}