/* UPLOAD COMMENT */
.feed__posts__post__uploadComment{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.feed__posts__post__uploadComment__avatar{
    margin-right: 10px;
}
.feed__posts__post__uploadComment__input{
    flex: 1;
    border-radius: 25px;
    background-color: #F0F2F5;
    padding: 10px;
    font-size: 0.8rem !important;
}
.feed__posts__post__uploadComment__input::before, .feed__posts__post__uploadComment__input::after{
    width: 0;
}
.feed__posts__post__uploadComment__formControl{
    display: flex;
    flex-direction: row !important;
    align-items: center;
    width: 98%;
}