.home{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: #F0F2F5;
    transform: translateY(50px);
    padding-top: 20px;
}