.feed__posts__post{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    background-color: #FFFFFF;
}
/* HEAD */
.feed__posts__post__head{
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
}
.feed__posts__post__head__user{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
/* CAPTION */
.feed__posts__post__caption{
    align-self: flex-start;
    margin: 10px 0 10px 10px;
}
.feed__posts__post__image{
    width: 100%;
}
.feed__posts__post__states{
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
}
.feed__posts__post__states__likes, .feed__posts__post__states__comments{
    display: flex;
    flex-direction: row;
    align-items: center;
}
/* COMMENTS */
.feed__posts__post__comments{
    width: 98%;
    display: flex;
    flex-direction: column;
}
.feed__posts__post__comments__comment{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}
.feed__posts__post__comments__comment__avatar{
    margin-right: 10px;
}
.feed__posts__post__comments__comment__userAndTextAndStates{
    display: flex;
    flex-direction: column;
    background-color: #F0F2F5;
    padding: 10px;
    border-radius: 25px;
}
.feed__posts__post__comments__comment__userAndTextAndStates__text{
    margin: 5px 0;
}
.feed__posts__post__comments__comment__userAndTextAndStates__states{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.8rem;
}
.feed__posts__post__comments__comment__userAndTextAndStates__states__likes{
    margin-right: 10px;
}