.feed{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    position: relative;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 600px) {
    .feed {
        width: 100%;
    }
}