.friendsBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #FFFFFF;
    position: fixed;
    right: 20px;
    top: 60px;
    width: 300px;
    height: 600px;
    z-index: 1;
}
.friendsBox__friend{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 5px;
    font-weight: bold;
}
.friendsBox__friend__avatar{
    margin-right: 20px !important;
}